{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
    <br>
    <form class="container" method="post">{% csrf_token %}
            <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <input name="name" class="form-control form-control-sm" type="text" placeholder="Search by name of collector">
                </div>
                <div class="col-sm-2">
                    <input name="min" class="form-control form-control-sm" type="number" placeholder="Minimum of dices" min = "0">
                </div>
                <div class="col-sm-2">
                    <input name="max" class="form-control form-control-sm" type="number" placeholder="Maximum of dices" min = "0" max="">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
            </div>
    </form>
    <br>
    <div class= "container">
        {% for persona in collezionisti %}
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                    {{ persona.rank }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">The hoard of {{persona.user.username}}</h5>
                    <p class="card-text">Has collected {{persona.num_set}} set of dices</p>
                    <a href="{% url 'hoard:show_hoard' persona.user.username %}" class="btn btn-info">Go!</a>
                </div>
                <div class="card-footer text-muted">
                    <h5>{{ card1 }}</h5>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}