{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
<br>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Go to see...
            </div>
        <div class="card-body">
            <h5 class="card-title">Your Hoard</h5>
            <p class="card-text">Check your purchases</p>
            <a href="{% url 'hoard:show_hoard' user.username %}" class="btn btn-info">Go!</a>
        </div>
        <div class="card-footer text-muted">
            <h5>{{ card1 }}</h5>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Go to see...
            </div>
        <div class="card-body">
            <h5 class="card-title">Other Hoards</h5>
            <p class="card-text">Take inspiration from other people's collections</p>
            <a href="{% url 'hoard:explore_hoards' %}" class="btn btn-info">Go!</a>
        </div>
        <div class="card-footer text-muted">
            <h5>{{ card2 }}</h5>
        </div>
    </div>
    {% if lucky %}
        <div class="text-center">
            Hey, you were lucky!!!
        </div>
    {% endif %}
    

{% endblock %}