{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
<h1>Sono nell'orda</h1>
    {% for card in cards %}
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Go to see...
            </div>
        <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.subtitle }}</p>
            <a href="#" class="btn btn-info">Go!</a>
        </div>
        <div class="card-footer text-muted">
            <h5>{{ card.dice }}</h5>
        </div>
    </div>
    {% endfor %}
    {% if lucky %}
        <div class="text-center">
            Hey, you were lucky!!!
        </div>
    {% endif %}
    

{% endblock %}