{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
    <br>
    <div class= "container">
        {% for acquisto in acquisti %}
            <div class="row border border-dark">
                <div class="col-sm-2">
                    <img class="card-img-top border-dark h-100" src="{%static 'set/set_'|add:acquisto.dice_set.code|add:'.png' %}">
                </div>
                <div class="col-sm ">
                    <div class="card-body">
                        <br><br>
                        <h5 class="card-title">Set comprati: {{acquisto.amount_of_sets}} </h5>
                        <p class="card-text">{{ acquisto.dice_set.description }}</p>
                        <a href="{%url 'store:purchase' acquisto.dice_set.code %}" class="btn btn-info">Like what you see</a>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    
{% endblock %}