{% extends "base.html" %}
{% block head %}
    {% load static %}
{% endblock %}
{% block content %}
    {% if not registrato %}
    <div style="margin-top:16%;" class="d-flex justify-content-center text-center"> 
        <form method="post" class="form"> {% csrf_token %}
            <span>Once an artisan, always an artisan, do you accept it</span>
            <input type="checkbox" name="choiche" value="yes">
            <br>
            <button type="submit">Accept</button> 
        </form>
    </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            Wellcome to the family of creators!!!
        </div>
    {% endif %}
{% endblock %}