{% extends "base.html" %}
{% block head %}
    {% load static %}
    
{% endblock %}
{% block content %}

    <h1>Sono nello store</h1>
        <form class="container" method="post">{% csrf_token %}
            <div class="form-group">
            <div class="row">
                <div class="col-sm-3">
                    <select name='color' class="form-select form-select-sm" aria-label=".form-select-sm">
                        <option value="none" selected>Search by color</option>
                        <option value="R">🟥</option>
                        <option value="O">🟧</option>
                        <option value="Y">🟨</option>
                        <option value="G">🟩</option>
                        <option value="B">🟦</option>
                        <option value="P">🟪</option>
                        <option value="N">⬛</option>
                        <option value="W">🔲</option>
                        <option value="M">Metal</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input name="name" class="form-control form-control-sm" type="text" placeholder="Search by name">
                </div>
                <div class="col-sm-1">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
            </div>
        </form>
        <br>

        {% if vuoto %}
        <div class="text-center">
            <img src="{%static 'set/empty.png' %}" class="img-fluid" alt="Try search something else">
        </div>
        {% else %}

        <div class="container">

            <div class="row justify-content-md-center">
                {% for dice in dices %}
                <div class="col-sm-3">
                    <div class="card border-dark">
                        {% with suff='set/set_' post='.png' %}
                        <img class="card-img-top border-dark" src="{%static suff|add:dice.code|add:post %}" alt="Card image cap">
                        {% endwith %}
                        <div class="card-body">
                            <h5 class="card-title">{{ dice.name }}</h5>
                            <p class="card-text">{{ dice.description }}.</p>
                            {% with suff='' %}
                            <a href="{%url 'store:purchase' dice.code %}" class="btn btn-dark">Product page</a>
                            {% endwith %}
                        </div>
                    </div>
                </div> 
                {% endfor %}
            </div>
        
        </div>

        {% endif %}
    
{% endblock %}